.carousel-caption {
    transform: translateY(-50%);
    bottom: initial;
    top: 50%;
}

#carousel-inner-color {
    filter: brightness(50%);


}

p {
    color: #F4F4F4;
}

i {
    font-size: 30px;
    color: grey;
}

.fa-brands {
    margin: 8px;
}